body {
background-image: url('../Graphics/orangeWallpaper.jpg');
background-image-width: 100%;
background-image-height: 100%;
background-color: red;
}

.submitClass {
	border: 0 none;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 300px;
	height: 100px;
}

#rackTable {
	border: 0 none;
}

#rackTable tr td {
	padding: 10px;
}
.numbers {
	color: #C7C2B0;
}

.imgSize {
	width: 120px;
	height: 120px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.countlabel {
	color: white;
	font-weight: bold;
}

.squarebox {
	padding-top: 10px;
	background: white;
}

.shadowed {
	box-shadow: 0em 0em .7em black;
}
