body {
background-image: url('../Graphics/orangeWallpaper.jpg');
background-image-width: 100%;
background-image-height: 100%;
background-color: red;
}

.submitClass {
	border: 0 none;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 300px;
	height: 100px;
}

#rackTable {
	border: 0 none;
}

#rackTable tr td {
	padding: 10px;
}
.numbers {
	color: #C7C2B0;
	font-size: 10px;
}

.imgSize {
	width: 120px;
	height: 120px;
}