body {
background: #004125; /* Old browsers */
background: -moz-linear-gradient(top, #004125 0%, #376e47 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004125), color-stop(100%,#376e47)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #004125 0%,#376e47 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #004125 0%,#376e47 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #004125 0%,#376e47 100%); /* IE10+ */
background: linear-gradient(to bottom, #004125 0%,#376e47 100%); /* W3C */
}

.submitClass {
	border: 0 none;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 300px;
	height: 100px;
	
}

#rackTable {
	border: 0 none;
	

}

#rackTable tr td {
	padding: 10px;

}
.numbers {
	color: #C7C2B0;
}

.imgSize {
	width: 100px;
	height: 100px;
}